// Variables
$background-color: black;
$color: coral;
$font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-family-titulos: "Indie Flower";
$font-weight-titulos: bold;
$text-align-titulos: center;
$color-titulos: whitesmoke;
$list-style-titulos: underline;
$border-bottom-header: rgb(128, 4, 236) 2px solid;
$text-align-header: center;
$padding-header: 10px 20px;
$width-logo: 35%;
$height-logo: auto;
$list-style-nav-ul-li: none;
$display-nav-ul-li: inline-block;
$margin-nav-ul-li: 5px 10px;
$color-nav-ul-li: white;
$border-bottom-menu: black 1px solid;
$border-radius-menu: 3px;
$text-decoration-a: none;
$text-transform-a: uppercase;
$font-weight-a: bold;
$color-a: rgb(128, 4, 236);
$margin-main: 20px;
$padding-main: 20px;
$margin-footer: 20px;
$padding-footer: 20px;
$border-top-footer: rgb(128, 4, 236) 1px solid;
$text-align-footer: center;
$display-cajaPrincipal: block;
$text-align-cajaPrincipal: center;
$padding-cajaPrincipal: 10px;
$margin-top-contenedorProyectos: 20px;
$width-imagenProyectos: 100%;
$height-imagenProyectos: auto;
$background-color-contenedorProyectos-p: black;
$color-contenedorProyectos-p: coral;
$text-align-contenedorProyectos-p: center;
$padding-contenedorProyectos-p: 10px;
$font-weight-contenedorProyectos-p: bold;
$font-size-contenedorProyectos-p: 10px;
$text-transform-contenedorProyectos-p: lowercase;
$display-contenedorProyectos-p: inline-block;
$display-iframe: block;
$width-iframe: 100%;
$height-iframe: 800px;
$border-iframe: none;
$margin-top-form: 20px;
$color-colorFormulario: white;
$text-align-colorFormulario: center;
$display-label: block;
$font-weight-label: bold;
$margin-bottom-label: 2px;
$color-label: rgb(128, 4, 236);
$font-size-label: 20PX;
$display-input-textarea: block;
$width-input-textarea: 100%;
$padding-input-textarea: 10px;
$border-input-textarea: #ccc solid 2px;
$border-radius-input-textarea: 5px;
$font-size-input-textarea: 16px;
$margin-bottom-input-textarea: 10px;
$background-color-input-textarea: black;
$color-input-textarea: coral;
$color-placeholder: coral;
$border-botonesFormulario: coral 1px solid;
$padding-botonesFormulario: 10px 20px;
$border-radius-botonesFormulario: 5px;
$cursor-botonesFormulario: pointer;
$margin-top-botonesFormulario: 10px;